<body background="/images/1.jpg">
   <div style="margin:20px;">
   <span style="margin:20px;">
   <a href="/"> Home </a>
   </span>
   <span style="margin:20px;">
  <a href="/game_lists"> Games </a>
  </span>
  
  <span style="margin:20px;">
   <a href="/developers"> Developers </a>
   </span>
   
   <span style="margin:20px;">
   <a href="/publishers"> Publishers </a>
  </span>
  
   <span style="margin:20px;">
   <a href="/query/queryMain"> Query  </a> 
  </span>
  
  <span style="margin:20px;">
   <%= link_to "Sign Out", destroy_user_session_path, :method=>:delete %>
  </span>
  
  
  </div>
  
  
  <br>
<h1>Listing Games Of Year <%= params[:y].split("-")[0] %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dev</th>
      <th>Pub</th>
      <th>Esrb</th>
      <th>Crit</th>
      <th>Yor</th>
      <th>Franchise</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @g.each do |game_list| %>
      <tr>
        <td><%= game_list.name %></td>
        <td><%= game_list.dev %></td>
        <td><%= game_list.pub %></td>
        <td><%= game_list.esrb %></td>
        <td><%= game_list.crit %></td>
        <td><%= game_list.yor %></td>
        <td><%= game_list.franchise %></td>
        <td><%= link_to 'Show', game_list %></td>
        <td><%= link_to 'Edit', edit_game_list_path(game_list) %></td>
        <td><%= link_to 'Destroy', game_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Back", :back %>|
<%= link_to 'New Game list', new_game_list_path %>

</body>
