<body background="/images/fer.jpg">
   <div style="margin:20px;">
   <span style="margin:20px;">
  <b> <a href="/"> Home </a><b>
   </span>
   <span style="margin:20px;">
  <b> <a href="/game_lists"> Games </a></b> 
  </span>
  
  <span style="margin:20px;">
   <b><a href="/developers"> Developers </a></b>
   </span>
   
   <span style="margin:20px;">
   <b><a href="/publishers"> Publishers </a></b>
  </span>
  
   <span style="margin:20px;">
  <b> <a href="/query/queryMain"> Query  </a></b> 
  </span>
  
  <span style="margin:20px;">
 <b>  <%= link_to "Sign Out", destroy_user_session_path, :method=>:delete %></b>
  </span>
  
  
  </div>
  
  
  <br>

<h1>Listing publishers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
        <td><%= publisher.name %></td>
        <td><%= link_to 'Show', publisher %></td>
        <% if current_user.email=="admin@archives.com" %><td><%= link_to 'Edit', edit_publisher_path(publisher) %></td>
        <td><%= link_to 'Destroy', publisher, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.email=="admin@archives.com" %>
<%= link_to 'New Publisher', new_publisher_path %>
<% end %>
</body>
